*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Lato, sans-serif;
}


