.button1{
    background-color: #ffffff; 
    border: 0.5px solid #000000;
    border-radius: 500px;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.button1:hover {
    background-color: #4dff0052;
    border-color: #0000; 
    color: #ffffff;
}

.container-propinas{
    padding: 3px;
    display: flex;
    flex-direction: column;
}
.titulo{
    text-align: center;
}